.headerHover {
    padding-left: 2px;
    padding-right: 2px;
    height: 80%;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition-duration: 100ms;
}

.headerHover:hover {
    border-color: white;
}

.footerLink {
    font-size: 0.875rem;
    /* Equivalent to text-sm */

    letter-spacing: 0.05em;
    /* Equivalent to tracking-wide */
    cursor: pointer;
    transition-duration: 150ms;
    /* Equivalent to duration-150 */

    color: white;
    /* Remove default text color */

    &:hover {
        color: #f7fafc;
        /* Equivalent to text-gray-100 */
        text-decoration: underline;
    }
}


.productLi {
    color: #4a5568;
    /* Equivalent to text-gray-600 */
    font-size: 0.875rem;
    /* Equivalent to text-sm */
    font-weight: 500;
    /* Equivalent to font-medium */
    border-bottom: 1px solid #cbd5e0;
    /* Equivalent to border-b-[1px] border-b-gray-400 */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    /* Equivalent to gap-2 */
    cursor: pointer;
    transition-duration: 300ms;
    /* Equivalent to duration-300 */
    width: 100%;
}

.productLi:hover {
    color: #000;
    /* Equivalent to hover:text-black */
    border-bottom-color: #4a5568;
    /* Equivalent to hover:border-b-gray-700 */
}